[user]
	name = Timo Tijhof
	email = krinklemail@gmail.com
[color]
	ui = auto
[alias]
	add = add -v
	st = status
	br = branch
	co = checkout
	di = diff
	ds = diff --staged
	log-nice = log --graph --decorate --abbrev-commit --pretty=oneline
	log-asi = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
	pul = pull
[core]
	quotepath = false
