# Operating systems
## Mac OS X
.DS_Store
*.sublime-workspace

# git-review (pip)
hosts/KrinkleMac/config/git-review/latest-version
# bower (npm)
hosts/KrinkleMac/config/configstore/update-notifier-bower.yml
